<div class="font-sans">
  <div class="relative min-h-screen flex flex-col sm:justify-center items-center bg-gray-500 ">
    <div class="relative sm:max-w-sm w-full">
      <div class="card bg-blue-400 shadow-lg  w-full h-full rounded-3xl absolute  transform -rotate-6"></div>
      <div class="card bg-red-400 shadow-lg  w-full h-full rounded-3xl absolute  transform rotate-6"></div>
      <div class="relative w-full rounded-3xl  px-6 py-4 bg-gray-100 shadow-md">
        <label for="" class="block text-sm text-gray-700 text-center font-semibold">
          Login
        </label>
        <form class="mt-10" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

          <div>
            <input type="email" formControlName="email" placeholder="Email" required autocomplete="email"
              class="focus:outline-none pl-2.5 mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-gray-200 focus:bg-gray-100 focus:ring-0">
            <span class="text-red-600 font-bold" *ngIf="loginForm.get('email')?.invalid &&
              (loginForm.get('email')?.dirty || loginForm.get('email')?.touched ||
               isSubmitted)">E-mail is required</span>
          </div>

          <div class="mt-7">
            <input type="password" required minlength="8" maxlength="15" formControlName="password"
              placeholder="Password" autocomplete="new-password"
              class="focus:outline-none pl-2.5 mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-gray-200 focus:bg-gray-100 focus:ring-0">
            <span class="text-red-600 font-bold" *ngIf="loginForm.get('password')?.invalid &&
              (loginForm.get('password')?.dirty || loginForm.get('password')?.touched ||
               isSubmitted)">
              <span class="text-red-600 font-bold" *ngIf="loginForm.get('password')?.invalid &&
              (loginForm.get('password')?.dirty || loginForm.get('password')?.touched ||
               isSubmitted)"> Password is required</span>
              <span
                *ngIf="loginForm.get('password')?.errors?.['minlength'] || loginForm.get('password')?.errors?.['maxlength']">
                Password length must be more tha 8 characcters and less than 15 character</span>
            </span>
          </div>
          <span class="text-red-600 font-bold">{{passWordErr}}</span>
          <div class="mt-7 flex">
            <label class="flex justify-start items-start">
              <!-- <div
                class="bg-white border-2 rounded border-gray-400 w-5 h-5 flex flex-shrink-0 justify-center items-center mr-2">
                <input type="checkbox" class="opacity-0 absolute">
                <svg class="fill-current hidden w-3 h-3 text-blue-500 pointer-events-none" viewBox="0 0 20 20">
                  <path d="M0 11l2-2 5 5L18 3l2 2L7 18z" />
                </svg>
              </div>
              <div class="select-none text-sm mt-0.5">Remember</div> -->
            </label>

            <div class="w-full text-right">
              <a class="underline text-sm text-gray-600 hover:text-gray-900">
                Forgot Password?
              </a>
            </div>
          </div>

          <div class="mt-7">
            <button
              class="bg-blue-500 w-full py-3 rounded-xl text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
              Login
            </button>
          </div>

          <div class="flex mt-7 items-center text-center">
            <hr class="border-gray-300 border-1 w-full rounded-md">
            <label class="block font-medium text-sm text-gray-700 w-full">
              Login with
            </label>
            <hr class="border-gray-300 border-1 w-full rounded-md">
          </div>

          <div class="flex mt-7 justify-center w-full">
            <button
              class="mr-5 bg-blue-500 border-none px-4 py-2 rounded-xl cursor-pointer text-white shadow-xl hover:shadow-inner transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">

              Facebook
            </button>

            <button
              class="bg-red-500 border-none px-4 py-2 rounded-xl cursor-pointer text-white shadow-xl hover:shadow-inner transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">

              Google
            </button>
          </div>

          <div class="mt-7">
            <div class="flex justify-center items-center">
              <label class="text-sm text-gray-600">No Account?</label>
              <a routerLink="/register"
                class=" ml-2 text-blue-500 transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                Register
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>